body{
  display: grid;
  height: 100%;
  margin: 10px;
  padding: 0;
}
.headleft{
  display:flex;
  justify-content: left;
}
.headright{
  display: flex;
  justify-content: right;
}
.gb_h{
  height: 25px;
  width: 25px;
  padding-left: 10px;
  padding-right: 10px;
}
.Google{
  display: flex;
  justify-content: center;
  padding-left: 300px;
  padding-top: 200px;
}
footer{
  display: flex;
  position: relative;
  text-align:center;
  background: lightgray; 
  justify-content: space-between;
  padding-top: 20px;
  height: 40px;
}
a{
  text-decoration: none;
  color: black;
  padding-left: 10px;
  padding-right: 10px;
}
.Search{
  position: relative;
  line-height: 22px;
  width:100px;
  height:30px;
  left: 230px;
  padding-right: 300px;
}
.buttons{
  padding-left: 300px;
  padding-bottom: 450px;
}
.mic{
  width: 25px;
  position: relative;
  bottom:55px;
  left:30px;
}
.picture{
  width: 30px;
  position: relative;
  bottom:50px;
  left:40px;
}
.glass{
  width:30px;
  position: relative;
  right: 364px;
  bottom:50px;
}